.header {
    position:  relative;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

.presentation {
    margin: 50px 0;
    background: url('/presentation.webp') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.presentation::after {
    content: "Best items for your home";
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.nav {
    float: right;
}

.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity .5s ease;
}

.nav li:hover {
   opacity: .5;
}

.shopCart {
    float: right;
    cursor: pointer;
    transition: color, transform .5s ease;
}

.shopCart:hover {
    color: #dc3d3d;
    transform: scale(1.2);
}

.active {
    color: #dc3d3d;
    transform: scale(1.2);
}

.cartInfo {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background-color: #fafafa;
    z-index: 10;
}