.header {
    position:  relative;
    padding: 20px 0;
    margin-bottom: 40px;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

.nav {
    float: right;
}

.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity .5s ease;
}

.nav li:hover {
   opacity: .5;
}

.shopCart {
    float: right;
    cursor: pointer;
    transition: color, transform .5s ease;
}

.shopCart:hover {
    color: #dc3d3d;
    transform: scale(1.2);
}

.active {
    color: #dc3d3d;
    transform: scale(1.2);
}

.cartInfo {
    position: absolute;
    top: 60px;
    right: 0;
    width: 450px;
    min-height: auto;
    background-color: #fafafa;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.totalSumWrapper {
    margin-top: 10px;
    text-align: end;
}

.totalSum {
    font-weight: 600;
}